<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forums</title>
    <link rel ="shortcut icon" href="/media/favicon.ico"/>
    <link rel="stylesheet"href="/styles/forum.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <div id="h1">
      <section id="logout">
        Signed in as {{ username }}. <a id="sign_out_button" href="{{ sign_out }}"><span>Sign out?</span></a>
      </section>
    </div>
    <div id="main">
      <a href="/welcome">Main Page</a>
    </div>

    <div id="signup">
      <a href="/signup">Sign up for Events</a>
    </div>

    <div id="forum">
      <a href="/forum">Forum</a>
    </div>

    <!-- <div id="schedule"> -->
      <section id="console">

      <div id="user_info">
        <h2 class="user_info_content" id="user_name">Name: {{ user_name }}</h2>
        <h2 class="user_info_content" id="username">Username: {{ username }}</h2>
        <p class="user_info_content">Number of Posts: {{ post_count }} </p>
      </div>
      <div id="post">
        <form method="post">
          <h2 class="user_info_content"> Post </h2>
          <textarea name="user_post" rows="5" cols="30" value=""></textarea>
          <input id="submit_post_btn" type="submit" value="Submit">
        </form>
      </div>
    </section>

    <section id="feed">
      {% for post in posts %}
          <div class="textpost">
            <p>
              <span id="post_author">{{ post[0] }} says...</span> <br>
              {{ post[1] }}
            </p>
            <span id="post_time">{{ post[2] }}</span>
          </div>
      {% endfor %}
    </section>
    <!-- </div> -->
  </body>
</html>
