<!DOCTYPE html>
<link rel ="shortcut icon" href="/media/favicon.ico"/>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet"href="/styles/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|M+PLUS+1p|Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <div id="h1">
      <section id="logout">
        Signed in as {{ username }}. <a id="sign_out_button" href="{{ logout_url }}"><span>Sign out?</span></a>
      </section>
    </div>
  <div id="main">
    <a href="/welcome">Main Page</a>
  </div>

  <div id="signup">
    <a href="/signup">Sign up for Events</a>
  </div>

  <div id="forum">
    <a href="/forum">Forum</a>
  </div>

  <div id="events">
    <button id="authorize_button" style="display: none;">Authorize</button>
    <h1>Upcoming events: </h1>
    <p>Check the events you want to sign up for and then click submit at the bottom!</p>
        <ol id="content"></ol>
        <input id="submit" type="Submit" onclick="combineChecked()">

  </div>
  <div id="playerinfo">
    <h7>Player Information</h7>
    <p>User: {{ username}}</p>
    <img id="profPic" src="https://pikmail.herokuapp.com/{{ email }}?size=100" onerror="imgError(this);"/>
    <p>Currently Signed up for: </p>
    <p> {{ activity }} </p>
  </div>
  <script src="/scripts/client_api_key.js"></script>
  <script src="/scripts/signup.js"></script>
  <script async defer src="https://apis.google.com/js/api.js"
    onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>
  </body>
</html>
