<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet"href="/styles/welcome.css">
  </head>
  <body>
    <div id="h1">Welcome to Recreation Nation! </div>

    <div id="main"> Main Page
    </div>

    <div id="signup">Sign Up
    </div>

    <div id="forum">Forum
    </div>

    <div id="schedule">Schedule
    </div>

    <div id="playerinfo">Player Info
    </div>

    <div id="locations">Locations
    </div>
  </body>
</html>
