<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet"href="/styles/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  </head>
  <body>
    <div id="h1">
      <section id="logout">
        Signed in as {{ username }}. <a id="sign_out_button" href="{{ logout_url }}"><span>Sign out?</span></a>
      </section>
      RECREATION NATION
    </div>

    <div id="main">
      <a href="/welcome">Main Page</a>
    </div>

    <div id="signup">
      <a href="/signup">Sign up for Events</a>
    </div>

    <div id="forum">
      <a href="/forum">Forum</a>
    </div>

    <div id="schedule">Schedule
    </div>

    <div id="playerinfo">
      <h7>Player Information</h7>
      <p>User: {{ username}}</p>
      <img src = "/media/joey.jpeg"width=100px height=100px/>
      <p>Previously Participated in: </p>
      <p>Currently Signed up for: </p>
    </div>

    <div id="locations">
      <h2>Locations</h2>
      <h3>Drollinger (Leavey) Field</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d827.2333067012368!2d-118.4206417505564!3d33.96855571413006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b096f3690475%3A0x1ee77702237e7e64!2sDrollinger+Field!5e0!3m2!1sen!2sus!4v1534200710975" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>Located behind McKay Hall, Drollinger Field is a perfect place for soccer or any other activity needing alot of open space</p>
      <h4>Burns Recreation Center</h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.9497016524933!2d-118.41818018491688!3d33.96813228062888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b0be0666d5c7%3A0xc03c5e71766e958e!2sBurns+Recreation+Center!5e0!3m2!1sen!2sus!4v1534201692649" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>Not just for working out! The Burns Rec center is your go to for a game of pick up Basketball.<p>
      <h5>Sunken Gardens</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.8735100291174!2d-118.41824585144937!3d33.97009050478774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b097d754aa1b%3A0xd22e300a5b8795b0!2sSunken+Garden!5e0!3m2!1sen!2sus!4v1534202074039" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>Located between Regents Terrace and Sacred Heart Chapel, the Sunken Gardens is another wide open space where you can find spikeball, volleyball, and other fun events.</p>
      <h6>Kecklab</h6>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.9021947910655!2d-118.41662778491687!3d33.96935328062854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b0bddb9104a1%3A0xb6b14ce2952256b3!2sDoolan+Hall%2C+Los+Angeles%2C+CA+90045!5e0!3m2!1sen!2sus!4v1534202755209" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>Check out Doolan 112 for the best lab on campus! Here you can find your video and table-top gaming events.</P>
    </div>
  </body>
</html>
