body {
  height:100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 40px 10fr;
  grid-gap: 5px;
}
div,h1{
  background-color: rgb(28,56,88);
}

a:hover {
  color: rgb(137,60,62);
}
a {
    color: white;
}
a:link {
    text-decoration: none;
}

#h1{
  width: 100vw;
  padding-top: 20px;
  margin: 0px;
  font-size: 60px;
  color: white;
  font-style: italic;
  text-align: center;
  background-size:auto;
  background-repeat: no-repeat;
  background-image: url("/media/recnatheader2.png");
  background-position: center;
  font-family: 'Titillium Web', sans-serif;
  grid-column:1 / span 3;
  grid-row:1;
}
#main{
  grid-row: 2;
  font-size: 20px;
  padding-top: 5px;
  color: black;
  background-color: rgb(132,151,172);
  text-shadow: 1px 1px 1px white;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  grid-column: 1;
}

#signup{
  grid-row: 2;
  font-size: 20px;
  padding-top: 5px;
  text-shadow: 1px 1px 1px white;
  background-color: rgb(132,151,172);
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  grid-column: 2;
}

#forum{
  grid-row:2;
  font-size: 20px;
  padding-top: 5px;
  text-shadow: 1px 1px 1px white;
  background-color: rgb(132,151,172);
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  grid-column: 3;
}
#logout{
  text-align: right;
  font-size: 18px;
  padding-right: 32px;
}
#user_info {
  /* height: 20%; */
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow:  0 6px 10px 0 rgb(137,60,62);
  grid-column: 1 /span 3;
  grid-row: 3;
}

.user_info_content {
    margin: 0px 0px 5px 5px;
}
#post {
  height: 50%;
  background-color: white;
  margin: 10px;
  padding: 0px 0px 0px 10px;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
  box-shadow:  0 6px 10px 0 rgb(137,60,62);
}
.textpost {
  background-color: white;
  height: 150px;
  margin: 10px;
  box-shadow:  0 6px 10px 0 rgb(137,60,62);
  padding: 5px 30px 5px 30px;
  border-radius: 30px;
  font-size: 20px;
  overflow: auto;
  word-wrap: break-word;
}
#console {
  grid-row: 3;
  grid-column: 1 / span 1;
  border-radius: 0;
  background-color: rgb(28,56,88);
}
#feed {
  grid-row: 3;
  grid-column: 2/span 3;
  gap: 20px -10px;
  overflow: auto;
  margin: 0;
  background-color: rgb(28,56,88);
}
