#title{
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  text-shadow: 4px 4px 2px rgb(48,65,93);
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  color: white;
  font-style: italic;
  font-size: 110px;
  padding-bottom: 0;
}
h3{
  text-align: center;
  font-family: impact;
  padding-top: 240px;
  font-size: 50px;
  font-style: italic;
}

body{
  background-image: url("/media/lmulion.jpg");
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.boxed {
  border: 10px solid white;
  position: fixed;
  margin: 100px 250px 100px 250px;
  height: 600px;
  width: 1200px;
}

a:hover {
    color: purple;
}
a {
    color: white;
    text-shadow: 4px 4px 2px rgb(48,65,93);
}
a:link {
    text-decoration: none;
}
