#title{
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  text-shadow: 4px 4px 2px rgb(48,65,93);
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  color: white;
  font-style: italic;
  font-size: 110px;
  padding-bottom: 0;
}
h3{
  text-align: center;
  font-family: impact;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 15%;
  font-size: 50px;
  font-style: italic;
}

body{
  background-image: url("/media/lmulion.jpg");
  background-size: cover;
  position: fixed;
  position:sticky;
  top:0%;
  right: 20%;
  bottom: 0%;
  left: 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.boxed {
  border: 10px solid white;
  position: fixed;
  margin: 0;
  margin-left: 10%;
  margin-top: 10%;
  height: 80%;
  width: 80%;
}

a:hover {
    color: purple;
}
a {
    color: white;
    text-shadow: 4px 4px 2px rgb(48,65,93);
}
a:link {
    text-decoration: none;
}
