div{
  size: 200px;
  font-family: 'Do Hyeon';
  text-shadow: 3px 3px 3px black;
  color: white;
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  text-align: center;
  font-style: italic;
  font-size: 45px;
}

body{
  background-image: url("/media/signupback.png");
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a:hover {
  color: purple;
}
#submit_button:hover {
  color: purple;
}
a {
    color: white;
}
a:link {
    text-decoration: none;
}

#welcome{
  border: 10px solid white;
  box-shadow:  0 6px 10px 0 black;
  padding: 20pt;
}
#name_box, #user_box{
  width: 200pt;
  height: 25pt;
  text-align: center;
}

#sign_out_button{
  border: 5px solid white;
  padding: 6pt;
  box-shadow:  0 6px 10px 0 black;
}
#submit_button{
  border: 5px solid white;
  color: white;
  padding: 2pt 16pt 2pt 16pt;
  font-size: 40px;
  font-family: 'Do Hyeon';
  text-shadow: 3px 3px 3px black;
  box-shadow:  0 6px 10px 0 black;
  background-color: inherit;
}
#top_row{
  margin: 100pt 100pt 100pt 400pt;
}
