body {
  height:100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 40px 10fr;
  grid-gap: 5px;

}
div,h1{
  background-color: rgb(28,56,88);
  color: white;
}

a:hover {
  color: rgb(137,60,62);
}
a {
    color: white;
}
a:link {
    text-decoration: none;
}

#content{
  white-space:pre-wrap;
  margin: 20px;
}

#h1{
  width: 100vw;
  padding-top: 10px;
  font-size: 60px;
  color: white;
  font-style: italic;
  text-align: center;
  background-size:auto;
  background-repeat: no-repeat;
  background-image: url("/media/recnatheader2.png");
  background-position: center;
  font-family: 'Lato', sans-serif;
  grid-column:1 / span 3;
  grid-row:1;
}
#main{
  grid-row: 2;
  font-size: 20px;
  padding-top: 5px;
  background-color: rgb(132,151,172);
  text-shadow: 1px 1px 1px white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  grid-column: 1;
}

#signup{
  grid-row: 2;
  font-size: 20px;
  padding-top: 5px;
  text-shadow: 1px 1px 1px white;
  background-color: rgb(132,151,172);
  font-family: 'Lato', sans-serif;
  text-align: center;
  grid-column: 2;
}

#forum{
  grid-row:2;
  font-size: 20px;
  padding-top: 5px;
  text-shadow: 1px 1px 1px white;
  background-color: rgb(132,151,172);
  font-family: 'Lato', sans-serif;
  text-align: center;
  grid-column: 3;
}
#logout{
  text-align: right;
  font-size: 18px;
  padding-right: 32px;
}
#events{
  grid-column: 1 / span 2;
  overflow: auto;
}
#playerinfo{
  grid-row: 3;
  grid-column: 3;
  padding-top: 10px;
  text-align: center;
}
#profPic{
  width: 100px;
}
#submit{
  background-color: rgb(137,60,62);
  padding: 10px;
  margin: 10px;
}
