body {
  height:100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  grid-template-rows: 4fr 1.5fr 10fr 10fr;
  grid-gap: 5px;

}
div,h1{
  background-color: rgb(108,183,113);
}

a:hover {
    color: blue;
}
a {
    color: black;
}
a:link {
    text-decoration: none;
}

#h1{
  width: 100vw;
  padding-top: 20px;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  grid-column:1 / span 3;
  grid-row:1;
}
#main{
  grid-row: 2;
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  grid-column: 1;
}

#signup{
  grid-row: 2;
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  grid-column: 2;
}

#forum{
  grid-row:2;
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  grid-column: 3;
}

#schedule{
  grid-row:3 /span 2;
  grid-column: 1 / span 2;
}

#playerinfo{
  grid-row: 3;
  grid-column: 3;
}

#locations{
  grid-row: 4;
  grid-column: 3;
  font-size: 20px;
  overflow: auto;
  text-align: center;
}

#logout{
  text-align: right;
  font-size: 18px;
  padding-right: 10px;
}
